{% extends "medicadmin/base.html" %}

{% block title %}Registrar Cita {% endblock title %}

{% block content %}
    {% if form %}
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Buscar Consultorio</button>
        </form>
    {% else %}
        {% if query %}
            {% for obj in query %}
                <ul><li>Consultorio {{ obj.cnumero_consultorio }} {{ obj.cdescripcion }}</li></ul>
            {% endfor %}
            <input type="text" id="fecha" name="nfecha"  placeholder="Busca por fecha" readonly="">
            <button type="submit">Citas del día</button>
        {% endif %}
    {% endif %}
{% endblock content %}
