{% extends "admin/base.html" %}

{% block title %}Registrar Cita {% endblock title %}

{% block content %}
    {% if form %}
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Buscar Consultorio</button>
        </form>
    {% else %}
        {% if query %}
            {% for obj in query %}
                <ul><li>{{ obj.cnumero_consultorio }}</li></ul>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock content %}
