<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Principal</title>
    <script src={% static "js/jquery.js" %}></script>
    <script src={% static "js/bootstrap-datepicker.js" %}></script>
    <script src={% static "js/fecha.js" %}></script>
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <link rel="stylesheet" href={% static "css/datepicker.css" %}>
</head>
<body>
    <p>Bienvenidos</p>
    {% block content %}
    {% endblock content %}
</body>
</html>